/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	line-height: 1.2;
	margin: 0 auto;
	padding: 0px 50px;
	max-width: 1200px;
	background-color:#EAF0C4;
}

a{
	text-decoration: none;
	color:#FFFFFF;
	background-color:#EC3E02;
	padding: 5px;
	border-radius: 5px;
	font-family: "League Spartan";
	text-transform: uppercase;
	font-weight: bold;
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 1.3rem;
	text-align: center;
	margin-top: 5px;
}

h3{
	font-size: 1.4rem;
	text-align: center;
	text-decoration: underline;
}

h1, h2, h3{
	font-family: "Luckiest Guy";
}

p{
	font-size: 1rem;
	margin-bottom: 10px;
	font-family: "Konkhmer Sleokchher";
}

#donatebutton{
	padding: 20px 50px;
}

.navbar{
	background-color: #F0F4D5;
}

.logoimg{
	height:80px;
}

.bannerbox{
	display:flex;
	gap:10px;
	background-color: #8DB97A;
	border: 2px solid black;
	border-radius: 5px;
	padding: 2px;
}

.kanaimg{
	height: 176px;
	border-radius: 5px;
}

.bimage{
	border: 2px solid black;
	border-radius: 5px;
	height: 180px
}

.bcontent{
	background-color: rgba(0,0,0,0.5);
	color: #FFFFFF;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}

.bcontent h1{
	text-align: left;
}

.stories{
	display: grid;
}

.card{
	border: 2px solid black;
	margin-bottom: 50px;
	padding: 20px;
	background-color: #FAFFE9;
}


.cardimg{
	height:316px;
	border: 2px solid black;
	border-radius: 5px;
}

.cardcontent{
	display: flex;
	flex-direction: column;
}

.cardcontent a{
	align-self:last baseline;
	background-color: #FAFFE9;
	color: black;
}


.image{
	height: 320px;
	
}

.marco{
	display:none;
}

.gina{
	display:none;
}

#moresuccess{
	padding: 30px;
	text-align: center;
}

.footer ul{
	display:flex;
	gap: 5px;
}

footer{
	background-color: #E0E8AF;
	margin-top: 50px;
	padding: 10px;
}

.footer ul li a{
	background-color:#E0E8AF;
	color: black;
	padding: 0px;
}

.heroimg{
	height:358px;
	border: 2px solid black;
	border-radius: 5px;
}

h1{
	text-align: center;
	text-decoration: underline;
}

.eventheader{
	display:flex;
	justify-content: center;
	gap:80px
}

.eventheader h1{
	align-self: center;
}

.lilpets{
	height:100px;
}

.eventscon{
	display: grid;
	gap: 10px;
}

.generalinfo{
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	padding: 10px;
}

.generalinfo h2{
	text-decoration: underline;
	text-align: left;
}

.carolina1{
	display:grid;
	grid-template-columns: 1fr 1fr;
}


.carolina1 a{
	text-align: center;
	grid-column: 1/2;
	align-self:center;
	justify-self: center;
	padding: 20px;
}


.carolina{
	height:250px;
	border: 2px solid black;
	border-radius: 5px;
}

.carolinacontent{
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	padding: 10px;
	display:grid;
}

.carolinacontent h2{
	text-decoration: underline;
}

.eventcards{
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap: 28px;
	padding: 10px;
}

.ecardimg{
	display:flex;
	flex-direction: column;
}

.ecardimg a{
	background-color: #EAF0C4;
	color: black;
	align-self: center;
}

.eventimages{
	width: 99%;
	border: 2px solid black;
	border-radius: 5px;
	margin-top: 20px;
}

.helpedcards{
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 1fr;
	gap:10px;
}
.donateimg{
	width:214px;
}

.productimg{
	width:214px;
	height:172px;
}

.raisedimg{
	width:484px;
}

.card1{
	grid-row: 1/2;
	grid-column: 1/4;
}

.card2{
	grid-row: 1/2;
	grid-column: 4/7;
}

.card3{
	grid-row: 2/3;
	grid-column: 1/7;
}

.sofar{
	background-color: rgba(0, 0, 0, 0.5);
	color:#FFFFFF;
	padding: 50px;
}

.sofar h3{
	text-decoration: none;
	font-family: "Lobster"
}

.mondonate{
	padding: 10px;
}

.donbuttons{
	display:flex;
	justify-content: center;
	gap:30px;
	margin-top: 10px;
}

.donbuttons a{
	background-color: #9EB0C4;
	padding: 10px;
	border-radius: 30px;
	font-family: "Lobster";

}

.productbutton{
	display:flex;
	justify-content: center;
	margin-top: 20px;
}

.productbutton a{
	padding: 30px;
}

.productd{
	display:none;
}